[user]
	email = pooser@jlab.org
	name = Eric Pooser
[core]
	editor = emacs
[http]
[https]
[url "https://github"]
[url "ssh://git@github.com"]
[http]
[https]
[url "https://github"]
[url "https://github"]
	insteadOf = git://github
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
